<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello, Nodejs!</title>
</head>
<body>
    <h1>Home</h1>
    <h2>Why learn Node.js?</h2>
    <p>Node.js allows you to build scalable and high-performance applications 
        using JavaScript on the server-side. It has a vast ecosystem of libraries 
        and frameworks, making it a popular choice for web development. 
        Node.js also enables efficient handling of concurrent requests and 
        non-blocking I/O operations, which can greatly enhance the performance 
        of your applications.
    </p>
    <nav>
        <a href="/">Homepage</a>
        <a href="/about">About page</a>
    </nav>
</body>
</html>